@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sour+Gummy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heading: 'Pacifico', sans-serif;
  --font-body: 'Sour Gummy', sans-serif;
}

html {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}